body {
    font-size: 18px;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link.active {
    color: #c9c9c9 !important;
}

.navbar .navbar-brand {
    color: #838383 !important;
}

body > .container {
    margin-top: 2em;
}

@media (max-width: 480px) {
      
}